.venv/
.tools/
build/
dist/
*.spec
**/bin/
**/obj/
__pycache__/
*.py[cod]
.pytest_cache/
*.mp4
ui-preview.png
error.png
src/GapVideoRecorder/assets/app-icon.png
src/GapVideoRecorder/assets/ffmpeg/ffmpeg.exe
